l4sutils/target/
l4sutils/pom.xml.tag
l4sutils/pom.xml.releaseBackup
l4sutils/pom.xml.versionsBackup
l4sutils/pom.xml.next
l4sutils/release.properties
l4sutils/dependency-reduced-pom.xml
l4sutils/buildNumber.properties
l4sutils/.mvn/timing.properties
l4sutils/# https://github.com/takari/maven-wrapper#usage-without-binary-jar
l4sutils/.mvn/wrapper/maven-wrapper.jar

wwwroot/
build_tmp/

client/target/
client/pom.xml.tag
client/pom.xml.releaseBackup
client/pom.xml.versionsBackup
client/pom.xml.next
client/release.properties
client/dependency-reduced-pom.xml
client/buildNumber.properties
client/.mvn/timing.properties
client/# https://github.com/takari/maven-wrapper#usage-without-binary-jar
client/.mvn/wrapper/maven-wrapper.jar

