l4sutils/target/
l4sutils/pom.xml.tag
l4sutils/pom.xml.releaseBackup
l4sutils/pom.xml.versionsBackup
l4sutils/pom.xml.next
l4sutils/release.properties
l4sutils/dependency-reduced-pom.xml
l4sutils/buildNumber.properties
l4sutils/.mvn/timing.properties
l4sutils/# https://github.com/takari/maven-wrapper#usage-without-binary-jar
l4sutils/.mvn/wrapper/maven-wrapper.jar

wwwroot/
build_tmp/

clients/target/
clients/pom.xml.tag
clients/pom.xml.releaseBackup
clients/pom.xml.versionsBackup
clients/pom.xml.next
clients/release.properties
clients/dependency-reduced-pom.xml
clients/buildNumber.properties
clients/.mvn/timing.properties
clients/# https://github.com/takari/maven-wrapper#usage-without-binary-jar
clients/.mvn/wrapper/maven-wrapper.jar

